.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70%;
  margin: auto;
  font-family: cursive;
  font-style: italic;
}

#main-field {
  grid-column: 1/5;
  text-align: right;
  height: 3em;
  background-color: black;
  color: white;
}

.common-field {
  border: 1px solid black;
  text-align: center;
  border: 1px solid black;
}
