<div class="main">
  <div *ngIf="!currentSign && !currentValue" class="field" id="main-field">
    <h4>{{ value }}</h4>
  </div>
  <div *ngIf="currentSign && currentValue" class="field" id="main-field">
    <h4>{{ value }} {{ currentSign }} {{ currentValue }}</h4>
  </div>
  <div *ngIf="currentSign && !currentValue" class="field" id="main-field">
    <h4>{{ value }} {{ currentSign }}</h4>
  </div>
  <div motion-attr class="first-field" id="first-field-divide" (click)="Evaluate('/')">

      <img
        src="https://image.flaticon.com/icons/svg/660/660236.svg"
        width="20px"
        height="20px"
        alt="nothing"
        margin-top="4px"
      />

  </div>
  <div motion-attr class="first-field glyphicon glyphicon-plus" id="second-field" (click)="Evaluate('+')">

  </div>
  <div motion-attr class="first-field glyphicon glyphicon-minus" id="third-field" (click)="Evaluate('-')">

  </div>
  <div motion-attr class="first-field glyphicon glyphicon-asterisk" id="fourth-field" (click)="Evaluate('*')">
  </div>
  <div motion-attr class="second-field" (click)="setCurrentValue('1')">
    1
  </div>
  <div motion-attr class="second-field" (click)="setCurrentValue('2')">
    2
  </div>
  <div motion-attr class="second-field" (click)="setCurrentValue('3')">
    3
  </div>
  <div motion-attr class="second-field" (click)="Evaluate('clear')">
    Clear
  </div>
  <div motion-attr class="third-field" (click)="setCurrentValue('4')">
    4
  </div>
  <div motion-attr class="third-field" (click)="setCurrentValue('5')">
    5
  </div>
  <div motion-attr class="third-field" (click)="setCurrentValue('6')">
    6
  </div>
  <div motion-attr class="third-field" (click)="setCurrentValue('C')">
    C
  </div>
  <div motion-attr class="fourth-field" (click)="setCurrentValue('7')">
    7
  </div>
  <div motion-attr class="fourth-field" (click)="setCurrentValue('8')">
    8
  </div>
  <div motion-attr class="fourth-field" (click)="setCurrentValue('9')">
    9
  </div>
  <div class="fourth-field" id="equal-sign" motion-attr (click)="Evaluate('=')">
      <img
        src="https://image.flaticon.com/icons/svg/56/56751.svg"
        width="15px"
        height="15px"
      />
  </div>
</div>
