<div class="main">
  <div *ngIf="!currentSign && !currentValue" class="field" id="main-field">
    <h4>{{ value }}</h4>
  </div>
  <div *ngIf="currentSign && currentValue" class="field" id="main-field">
    <h4>{{ value }} {{ currentSign }} {{ currentValue }}</h4>
  </div>
  <div *ngIf="currentSign && !currentValue" class="field" id="main-field">
    <h4>{{ value }} {{ currentSign }}</h4>
  </div>
  <div motion-attr class="first-field" id="first-field-divide">
    <button (click)="Evaluate('/')">
      <img
        src="https://image.flaticon.com/icons/svg/660/660236.svg"
        width="20px"
        height="20px"
        alt="nothing"
        margin-top="4px"
      />
    </button>
  </div>
  <div motion-attr class="first-field" id="second-field">
    <button (click)="Evaluate('+')" class="glyphicon glyphicon-plus"></button>
  </div>
  <div motion-attr class="first-field" id="third-field">
    <button (click)="Evaluate('-')" class="glyphicon glyphicon-minus"></button>
  </div>
  <div motion-attr class="first-field" id="fourth-field">
    <button
      (click)="Evaluate('*')"
      class="glyphicon glyphicon-asterisk"
    ></button>
  </div>
  <div motion-attr class="second-field">
    <button (click)="setCurrentValue('1')">1</button>
  </div>
  <div motion-attr class="second-field">
    <button (click)="setCurrentValue('2')">2</button>
  </div>
  <div motion-attr class="second-field">
    <button (click)="setCurrentValue('3')">3</button>
  </div>
  <div motion-attr class="second-field">
    <button (click)="Evaluate('clear')">Clear</button>
  </div>
  <div motion-attr class="third-field">
    <button (click)="setCurrentValue('4')">4</button>
  </div>
  <div motion-attr class="third-field">
    <button (click)="setCurrentValue('5')">5</button>
  </div>
  <div motion-attr class="third-field">
    <button (click)="setCurrentValue('6')">6</button>
  </div>
  <div motion-attr class="third-field">
    <button (click)="setCurrentValue('C')">C</button>
  </div>
  <div motion-attr class="fourth-field">
    <button (click)="setCurrentValue('7')">7</button>
  </div>
  <div motion-attr class="fourth-field">
    <button (click)="setCurrentValue('8')">8</button>
  </div>
  <div motion-attr class="fourth-field">
    <button (click)="setCurrentValue('9')">9</button>
  </div>
  <div class="fourth-field" id="equal-sign" motion-attr>
    <button (click)="Evaluate('=')">
      <img
        src="https://image.flaticon.com/icons/svg/56/56751.svg"
        width="15px"
        height="15px"
      />
    </button>
  </div>
</div>
