<div class="main">
    <div class="field" id="main-field">
        <h4>{{value_cal}}</h4>
    </div>
    <div [motion-attr]="'/'" class="first-field" id="first-field-divide">
        <img
            src="https://image.flaticon.com/icons/svg/660/660236.svg"
            width="20px"
            height="20px"
            alt="nothing"
            margin-top="4px"
        >
    </div>
    <div [motion-attr]="'+'" class="first-field" id="second-field">
        <h4 class="glyphicon glyphicon-plus"></h4>
    </div>
    <div [motion-attr]="'-'" class="first-field" id="third-field">
        <h4 class="glyphicon glyphicon-minus"></h4>
    </div>
    <div [motion-attr]="'*'" class="first-field" id="fourth-field">
        <h4 class="glyphicon glyphicon-asterisk"></h4>
    </div>
    <div [motion-attr]="'1'" class="second-field">
        <strong>1</strong>
    </div>
    <div [motion-attr]="'2'" class="second-field">
        <strong>2</strong>
    </div>
    <div [motion-attr]="'3'" class="second-field">
        <strong>3</strong>
    </div>
    <div [motion-attr]="'clear'" class="second-field">
        <strong>Clear</strong>
    </div>
    <div [motion-attr]="'4'" class="third-field">
        <strong>4</strong>
    </div>
    <div [motion-attr]="'5'" class="third-field">
        <strong>5</strong>
    </div>
    <div [motion-attr]="'6'" class="third-field">
        <strong>6</strong>
    </div>
    <div [motion-attr]="'C'" class="third-field">
        <strong>C</strong>
    </div>
    <div [motion-attr]="'7'" class="fourth-field">
        <strong>7</strong>
    </div>
    <div [motion-attr]="'8'" class="fourth-field">
        <strong>8</strong>
    </div>
    <div [motion-attr]="'9'" class="fourth-field">
        <strong>9</strong>
    </div>
    <div class="fourth-field" id="equal-sign" [motion-attr]="'='">
        <img src="https://image.flaticon.com/icons/svg/56/56751.svg" width="15px" height="15px">
    </div>
</div>

